/* Specification */

$mainTextColor: #000;
$darkGrey: #828282;
$lightGrey: #BDBDBD;
$accentColor: #EB5757;

body {
   font-family: "Roboto", sans-serif;
   font-weight: 300;
   line-height: 1.48;
   letter-spacing: 0.01em;
   font-size: 25px;
   color: $mainTextColor;
}

h1, h2, h3, h4, h5, h6 {
   color: $mainTextColor;
   font-family: 'Oswald', sans-serif;
}

h1 {
   font-weight: 600;
   font-size: 96px;
   line-height: 1.15;
   text-transform: uppercase;
}

h2 {
   font-weight: 500;
   font-size: 56px;
   line-height: 1.29;
   text-transform: uppercase;
   @media (max-width: 920px){
      font-size: 40px;
   }
   @media (max-width: 767px){
      font-size: 30px;
   }
}

h3 {
   font-weight: 600;
   font-size: 48px;
   line-height: 1.29;
   text-transform: uppercase;
}

h4 {
   font-weight: 400;
   font-size: 26px;
   line-height: 1.5;
   @media (any-hover: hover){
      &:hover{
         text-decoration: underline;
      }
   }
}

h5 {
   font-weight: 400;
   font-size: 24px;
   line-height: 1.71;
}

h6 {
   font-weight: 300;
   font-size: 18px;
   line-height: 1.5;
   @media (any-hover: hover){
      &:hover{
         text-decoration: underline;
      }
   }
}

/* Specification by class */

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
   margin: 0 auto;
   max-width: 1908px;
   padding: 0 15px;
}

.btn {
   font-family: 'Oswald';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.5;
   border: 2px solid #000000;
   text-transform: uppercase;
   letter-spacing: 0.5px;
   padding: 15px 45px;
   display: inline-block;
   transition: all 0.4s ease;
   @media (any-hover: hover){
      &:hover{
         background-color: #000;
         color: #fff;
      }
   }
   &:active {
      transform: scale(0.9);
   }
}

.design-title {
   padding: 20px 50px 7px 0;
   border-top: 2px solid #000000;
   border-right: 2px solid #000000;
   max-width: 650px;
   @media (max-width: 420px){
      padding: 15px 30px 7px 0;
   }
}

.product-card {
   font-family: 'Oswald';
   line-height: 1.5;
   @media (any-hover: hover){
      & img:hover{
         transform: scale(1.1);
      }
   }
   &__img {
      position: relative;
      padding-bottom: 130.81%;
      overflow: hidden;
      display: block;
      margin-bottom: 16px;
      z-index: 2;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
         transition: transform 0.4s linear;
      }
      .product-card__discount {
         position: absolute;
         z-index: 3;
         top: 15px;
         left: 0;
         font-weight: 400;
         font-size: 14px;
         background-color: #000;
         color: #fff;
         padding: 2px 5px;
      }
   }
   &__category {
      font-weight: 600;
      font-size: 12px;
      color: $lightGrey;
      text-transform: uppercase;
   }
   &__title {
      margin-bottom: 10px;
   }
   &__price {
      font-weight: 500;
      font-size: 22px;
      text-transform: uppercase;
   }
   &__price-wrapper {
      display: flex;
      gap: 10px;
      font-weight: 500;
      font-size: 22px;
      color: $accentColor;
      align-items: center;
      text-transform: uppercase;
   }
   &__old-price {
      font-weight: 400;
      font-size: 14px;
      color: $darkGrey;
      text-decoration: line-through;
   }
}

.text {
   line-height: 1.48;
   letter-spacing: 0.01em;
   margin-bottom: 37px;
   p:not(:last-child) {
      margin-bottom: 15px;
   }
   @media (max-width: 767px){
      font-size: 16px;
   }
}

.arrow-buttons {
   display: flex;
   gap: 4px;
   &__item {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.9);
      border: 2px solid #C4C4C4;
      transition: all 0.4s ease;
      &:nth-child(2) img{
         transform: rotate(180deg);
      }
      &:active {
         transform: scale(0.9);
      }
      @media (any-hover: hover){
         &:hover{
            transform: translateY(2px);
         }
      }
   }
}